.accordian-theme {
  .accordion-item {
    border: none;
    padding: 10px;
    margin: 10px 0;

    .accordion-header {
      .accordion-button:not(.collapsed) {
        background: transparent;
        box-shadow: none;
      }
      button {
        padding: 10px;
        backdrop-filter: blur(20px);

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }

        i {
          width: 40px;
          margin-right: 16px;
          background-color: red;
          width: 40px;
          height: 40px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: white;
        }
      }
    }

    .accordion-body {
      padding: 10px;
    }
  }
}
