//Colors
$primary: #63ab5e;
$secondary: red;
$black: #000000b2;
$black-dark: #121c30;
$orange: #ff7a4d;
$green: #48d53c;
$red: #ef5d5d;
$blue: #2394b7;
$white: #ffffff;
$gray: #f4f4f4;
$yellow: yellow;

// fonts
$font-primary: "Sora", serif;

//Radius
$radius: 12px;
